<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.erickweil.portugolweb">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        >

        <activity
            android:name=".Inicio"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.por" />

                <data android:pathPattern=".*\\..*\\.por" />
                <data android:pathPattern=".*\\..*\\..*\\.por" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.por" />

                <data android:pathPattern=".*\\.por.txt" />

                <data android:pathPattern=".*\\..*\\.por.txt" />
                <data android:pathPattern=".*\\..*\\..*\\.por.txt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.por.txt" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.por" />
                <data android:pathPattern=".*\\..*\\.por" />
                <data android:pathPattern=".*\\..*\\..*\\.por" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.por" />

                <data android:pathPattern=".*\\.por.txt" />

                <data android:pathPattern=".*\\..*\\.por.txt" />
                <data android:pathPattern=".*\\..*\\..*\\.por.txt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.por.txt" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/por" />
                <data android:mimeType="*/por" />
                <data android:mimeType="text/x-por" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/por" />
                <data android:mimeType="*/por" />
                <data android:mimeType="text/x-por" />

            </intent-filter>
        </activity>
    </application>

</manifest>